global
  log /dev/log local0 notice
  user haproxy
  group haproxy
  daemon
defaults
  log global
  mode tcp
  timeout connect 5000
  timeout client 50000
  timeout server 50000

listen {{ ansible_hostname }} :3306
  mode tcp
  balance roundrobin
  option tcplog
# server db1 XXX.XXX.XXX.XXX:3306 check port 3306

{% for host in groups['database'] %}
   server {{ host }} {{ host }}:3306 check 
#   port 3306
{% endfor %}