--- 
- name: Ensure Service is Started and Enabled  
  service: name=mysql state=started enabled=yes
  sudo: yes                                    

# necessery steps
# server-id = 2
# Путь к relay логу            relay-log = /var/log/mysql/mysql-relay-bin.log
# Путь к bin логу на Мастере   log_bin = /var/log/mysql/mysql-bin.log
# База данных для репликации   binlog_do_db = omsdb

- name: Modify configuration file to setup bin.log
  ini_file: dest=/etc/my.cnf.d/server.cnf
              section=mysqld
              option=log_bin
              value=/tmp/mysql-bin.log

- name: Modify configuration file to setup binlog_format
  ini_file: dest=/etc/my.cnf.d/server.cnf
              section=mysqld
              option=binlog_format
              value=ROW

- name: Modify configuration file to setup log_slave_updates
  ini_file: dest=/etc/my.cnf.d/server.cnf
              section=mysqld
              option=log_slave_updates
              value=1

- name: Modify configuration file to setup expire_logs_days=7
  ini_file: dest=/etc/my.cnf.d/server.cnf
              section=mysqld
              option=expire_logs_days
              value=7
              
- name: Modify configuration file to setup relay-log
  ini_file: dest=/etc/my.cnf.d/server.cnf
              section=mysqld
              option=relay-log
              value=/tmp/mysql-relay.log

                        
- name: Modify configuration file to setup binlog_do_db
  ini_file: dest=/etc/my.cnf.d/server.cnf
              section=mysqld
              option=binlog_do_db
              value={{ replic_db }}

- name: Create replication account
  mysql_user: name={{ replic_user }}
                host=%
                password={{ replic_userpassword }}
                priv="*.*:REPLICATION SLAVE"
                state=present

- name: Restart mysql service
  service: name=mysql state=restarted


- name: Get master status
  mysql_replication : mode=getmaster
  delegate_to       : "{{ mysql_replication_master }}"
  register          : repl_stat
#    when              : mysql_repl_role == 'slave'


- name: Set master in slave
  mysql_replication: mode=changemaster
  args:
    master_host     : "{{ mysql_replication_master }}"
    master_log_file : "{{ repl_stat.File }}"
    master_log_pos  : "{{ repl_stat.Position }}"
    master_user     : "{{ replic_user }}"
    master_password : "{{ replic_userpassword }}"
#    when: mysql_repl_role == 'slave'

- name: Start slave
  mysql_replication: mode=startslave
#    when: mysql_repl_role == 'slave'





