---

- name: Ensure Service is Started and Enabled
  service: name=mysql state=started enabled=yes
  sudo: yes
 

- name: Modify configuration file - gtid_domain_id
  ini_file: dest=/etc/my.cnf.d/server.cnf
            section=mysqld
            option=gtid_domain_id
            value=1

- name: Modify configuration file - binlog_format
  ini_file: dest=/etc/my.cnf.d/server.cnf
            section=mysqld
            option=binlog_format
            value=ROW

- name: Modify configuration file - log_slave_updates
  ini_file: dest=/etc/my.cnf.d/server.cnf
            section=mysqld
            option=log_slave_updates
            value=1

- name: Modify configuration file to setup bin.log
  ini_file: dest=/etc/my.cnf.d/server.cnf
            section=mysqld
            option=log_bin
            value=/tmp/mysql-bin.log

                                        
- name: Modify configuration file to setup binlog_do_db
  ini_file: dest=/etc/my.cnf.d/server.cnf
            section=mysqld
            option=binlog_do_db
            value={{ replic_db }}

- name: Restart mysql service 
  service: name=mysql state=restarted enabled=yes
  sudo: yes

- name: Create replication account 
  mysql_user: name={{ replic_user }}
              host=%
              password={{ replic_userpassword }}
              priv="*.*:REPLICATION SLAVE"
              state=present



