---
- hosts: tag_Name_jenkins
  connection: local
  user: ec2-user
  sudo: yes

  roles:
  - setlocalrepo
  - java7
  - maven
  - { role: mysql, action: 'create-database', database_name: 'omsdb' }
  - { role: mysql, action: 'create-user',  database_user: '056db', database_password: '056db' }
  - { role: jenkins, jenkins_plugin: "{{ _jenkins_oms_plg }}" }
#  - { role: oms, action: 'configure-jenkins' }
